# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Python virtual environment
venv/

# Other files to ignore
*.log
*.sqlite3

# Deploy items
download/
start.sh
venv/